  <div class="partial" id="createUserPartial">
      <h1>Sign Up</h1>
      <form action="/sign-up" method="POST">
          <label for="username">Username</label>
          <input id="username" name="username" placeholder="username" type="text" autocomplete="username"/>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" autocomplete="new-password"/>
          <label for="passwor-confirm">Confirm Password</label>
          <input id="password-confirm" name="password-confirm" type="password" autocomplete="new-password"/>
          <button type="submit">Sign Up</button>
        </form>
    </div>