<%if (locals.errors){%>
    <ul>
        <% errors.forEach(function(error){ %>
            <li><%= error.msg %></li>
       <% }); %>
    </ul>
<% } %>

<% if(locals.passportErrors){ %>
    <% console.log(locals.passportErrors) %>
    <div style="color: red;"><%= passportErrors[passportErrors.length - 1] %></div>
<% } %>