<%if (locals.errors){%>
    <ul>
        <% errors.forEach(function(error){ %>
            <li class="errors"><%= error.msg %></li>
       <% }); %>
    </ul>
<% } %>

<% if(locals.passportErrors){ %>
    <% console.log(locals.passportErrors) %>
    <div class="errors"><%= passportErrors[passportErrors.length - 1] %></div>
<% } %>