<form action="/join" method="post">
    <div>Who brought you here?</div>
    <label for="secret-answer">Secret Answer:</label>
    <input type="text" name="secret-answer">
    <button type="submit">Submit</button>
</form>
<a href="./">Back</a>