    <div class="partial" id="loginPartial">
        <h1>Log in</h1>
        <form action="/log-in" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" placeholder="username" type="text" autocomplete="username" />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" />
            <button type="submit">Log In</button>
            <a href="/?createUser=true">Not a member? Sign up</a>
        </form>
    </div>