<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <title>Members Only</title>
</head>
<body>
    <% if( locals.user ){ %>
        <h1>Welcome back, <%= user.first_name %></h1>
        <% if(user.member_status) { %>
            <div>You are a member of this secret club</div>
        <% } else { %>
            <% if(locals.url == '/join'){ %>
                <%- include("partials/" + form) %>
            <% } else { %>
                <div>You are not yet a member.</div>
                <a href="/join">Join the club</a>

            <% } %>
        <% } %>
        <a href="/messages">View the message board</a>
    <% } else if(locals.form) { %>
        <%- include("partials/" + form) %>
    <% } %>
            
</body>
</html>