<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <title>Members Only</title>
</head>
<body>
    <% if( locals.user ){ %>
        <h1>Welcome back, friend.</h1>
        <a href="">Post a message</a>
        <a href="">View the message board</a>
    <% } else { %>
        <%- include("partials/" + form) %>
    <% } %>
        
</body>
</html>