<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <title>Members Only</title>
</head>
<body>
    <div class="partial">
    <% if( locals.user ){ %>
        <h1 class="mouseable">Welcome back, <%= user.first_name %></h1>
        <% if(user.member_status) { %>
            <div class="user-info mouseable">You are a member of this secret club</div>
        <% } else { %>
            <% if(locals.url == '/join'){ %>
                <%- include("partials/" + form) %>
            <% } else { %>
                <div class="user-info mouseable">You are not yet a member.</div>
                <div class="member-access mouseable">
                    <div>Only members can post messages.</div>
                    <a href="/join">Join the club</a>
                </div>

            <% } %>
        <% } %>
        <div class="controls mouseable">
            <a href="/messages">View the message board</a>
            <a href="/log-out">Log out</a>
        </div>
    <% } else if(locals.form) { %>
        <%- include("partials/" + form) %>
    <% } %>
    </div>   
</body>
<script>
    let items = document.querySelectorAll('.mouseable');
    let prevNum = Math.floor(Math.random() * items.length)
    let prevItem;
    setInterval(()=>{
        if(prevItem){
            prevItem.classList.toggle("randomPop");
        }
        prevItem = items[prevNum]
        prevItem.classList.toggle("randomPop");
        prevNum = Math.floor(Math.random() * items.length)
    }, 3500)
</script>
</html>