<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <title>Messages</title>
</head>
<body>
    <% if(messages.length > 0){ %>
        <h1>Messages</h1>
        <div class="messages">
          <%- include("partials/messagesList") %>
        </div>
    <% } else { %>
        <h1>No Messages</h1>
    <% } %>
    
    <% if(user.member_status){ %>
        <div>Share your thoughts</div>
        <%- include("partials/newMessage") %>
    <% } else {%>
        <div>Want to contribute?</div>
        <% if(!user.member_status && user.username !== 'guest'){ %>
            <a href="">Become a member</a>
        <% }else{ %>
            <a href="/sign-up">Join us</a>
      <% } %>
    <% } %>
    <% if(user.username !== 'guest'){ %>
        <a href="/log-out">Log out</a>
   <% } %>
</body>
</html>